body {
    background-image: url(../img/backgroundImg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.credit {
    background: rgba(0, 0, 0, 0.75);
    font-size: 1.3em;
    color: whitesmoke;
    padding: 1em;
    border-radius: 0.5em;
}

.credit a {
    color: turquoise;
    transition: 1s;
}

.credit a:hover {
    color: white;
    text-shadow: 0 0 8px white;
}