@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
body {
    margin: 0;
}

.header {
    background-color: gray;
    height: 5em;
    padding: 10px;
    font-size: 20px;
    padding-bottom: 50px;
    border-bottom: 8px solid black;
    text-align: center;
}

.main {
    display: flex;
}

.imagem-loja {
    background-color: greenyellow;
    font-family: 'Cedarville Cursive', cursive;
    margin: 10px;
    border-radius: 10px;
    font-size: 30px;
    padding: 10px;
}

.loja {
    border-right: 8px solid black;
    height: 90vh;
    width: 40%;
}

.texto {
    margin: 10px;
    font-size: 20px;
}

h2 {
    border-bottom: double 20px green;
    font-size: 40px;
}

p {
    text-align: justify
}

#imagem-atendente {
    height: 200px;
    width: 250px;
    float: right;
    margin-left: 30px;
}

#figcaption {
    text-align: center;
}